@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Delius&display=swap');

:root {
    --font-min: clamp(0.6rem, 1.2vw, 1rem)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #cda77c;
    font-family: 'Bebas Neue', sans-serif;
}

header {
    background-color: #EBD4BA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: 6.5vw;
}

.hello p {
    font-family: 'Cookie', cursive;
    font-size: 25px;
    color: #3B2015;
}

main h1 {
    color: #3B2015;
    margin-top: 60px;
    text-align: center;
    letter-spacing: 0.1rem;
}

form {
    width: 50vw;
    margin: 0 auto;
    padding: 30px 0;
}

.enunciado {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.reta {
    width: 80%;
    background-color: #3B2015;
    height: 2px;
}

.text {
    font-size: var(--font-min);
    font-family: 'Delius', cursive;
    color: #3B2015;
    width: 20%;
}

.dados-pessoais-input {
    margin: 20px 0;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.dados-pessoais-input input {
    padding: 13px 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Delius', cursive;
    color: #A99C97;
}

.nome-tel {
    width: 59%;
}

.sobre-email {
    width: 39%;
}

.senha {
    width: 49%;
}

.seu-pet-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../_img/Polygon.png) no-repeat center right #fff;
    width: 45%;
    padding: 13px 10px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Delius', cursive;
    color: #A99C97;
}

.sexo {
    font-family: 'Delius', cursive;
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

#macho, #femea {
    margin: 0 7px 0 15px;
}

.sexo input:checked {
    background-color: #3B2015;
    box-sizing: border-box;
    border: 5px solid #3B2015;
    padding: 2px;
}

.tratamento-especial {
    margin-top: 10px;
    font-family: 'Delius', cursive;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.tratamento-especial div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tratamento-especial div input {
    margin-right: 5px;
}

.tespecial4 textarea {
    margin-left: 5px;
}

.localizacao {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.localizacao input:first-child {
    width: 29%;
}

.localizacao input:nth-child(2) {
    width: 69%;
}

.localizacao input:nth-child(3) {
    width: 39%;
}

.localizacao input:nth-child(4) {
    width: 39%;
}

.localizacao input:nth-child(5) {
    width: 18%;
}

.localizacao input {
    padding: 13px 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Delius', cursive;
    color: #A99C97;
}

#enviar {
    padding: 13px 22px;
    font-family: 'Delius', cursive;
    font-size: 16px;
    font-family: 'Delius', cursive;
    font-weight: bolder;
    color: #EBD4BA;
    background-color: #3B2015;
    border: none;
    border-radius: 7px;
}