@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #cda77c;
    font-family: 'Bebas Neue', sans-serif;
}

header {
    background-color: #EBD4BA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: 6.5vw;
}

.hello p {
    font-family: 'Cookie', cursive;
    font-size: 25px;
    color: #3B2015;
}

main table {
    margin: 0 auto;
    border-collapse: collapse;
    color: #3B2015;
    border: 1px solid #EBD4BA;
    margin-top: 20px;
    font-size: 20px;
}

table tr th, thead {
    font-size: 24px;
    border: 2px solid #3B2015;
}

main table tr td, main table tr th {
    padding: 5px 20px;
    text-align: center;
}